body {
    background-image: url(./images/backgroundImage80opacity.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:sans-serif;
    color: black;
    
}

h1 {
    text-align: center;
    font-size: 50px;
}

p {
    text-align: center;
}

#question1Container {
    border: 1px solid black;
    width: 15em;
}

.correct {
    background-color: rgb(5, 250, 5);
}

.incorrect {
    background-color: red;
}

.bold {
    font-weight: bold;
}

