body {
    background-image: url(./images/backgroundImage80opacity.png);
    background-color: lightblue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:sans-serif;
    color: black;
}

h1 {
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
}

#centeringContainer {
    width: 50%;
    margin: 0 auto;
}

#questionText {
    grid-column: 1 / -1;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

#quizContainer {
    height: 99%;
    width: 100%;
    border: 1px black solid;
}

#choicesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: start;
    height: 16.03em;
    width: 100%;
    background-color: white;
}

.choiceButtons {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border: 1px black solid;
    height: 20vh;
    width: 100%;
    cursor: pointer;
}

#submit {
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#explanationContainer {
    text-align: center;
    height: 5em;
    width: 100%;
    border: 1px solid black;
    background-color: rgb(5, 250, 5);
}

#explanationText {
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}

#nextQuestion {
    cursor: pointer;
    background-color: rgb(5, 250, 5);
    position: absolute;
    right: 25.5%;

}

.correct {
    background-color: rgb(5, 250, 5);
}

.incorrect {
    background-color: red;
}

.selection {
    background-color: rgb(190, 181, 181);
}

